.sidebar{
    height:100%;
}

.cuerpoProductos{
    height:100%;
}

.card-producto{
    margin:5%;
    height: 250px;

}

.cuerpo{
    height: auto;
}

img{
margin-top:10px;
}

.categorias{
    margin-top: 10px;
}

#botonPagar{
	display: block;
}

.productoDescripcion{
	font-size:10px;
}
