.sidebar{
    height:auto;
}

.cuerpoProductos{
    height:100%;
}

.cuerpo{
    height: auto;
}

.img-card{
margin-top:20px;

}

.categorias{
    margin-top: 25px;
}

#botonPagar{
	display: block;
}

.productoDescripcion{
	font-size:10px;
}

.botonSidebar{
	margin-left:20px;
	margin-top:20px;
	float: left; 
}

.rellenarCategorias{
	height:80%;
}

.cardProducto{
	height:100px;
	margin:5%;
    height: 250px;
}

.cardProducto:link {color:white;}
.cardProducto:visited {color:white;}
.cardProducto:active {color:white;}
.cardProducto:hover {color:white;}


