.sidebar{
    height:auto;
}

.cuerpoProductos{
    height:100%;
}

.card-producto{
    margin:5%;
    height: 250px;

}

.cuerpo{
    height: auto;
}

img{
margin-top:10px;
}

.categorias{
    margin-top: 25px;
}

#botonPagar{
	display: block;
}

.productoDescripcion{
	font-size:10px;
}

.botonSidebar{
	margin-left:20px;
}

.rellenarCategorias{
	height:100%;
}

.cardProducto{
	height:100px;
}

